<div class="col-md-2"></div>
<form ng-init="newSchoolDistrict()" class="col-md-8" name="form" id="createSchoolDistrictForm" autocomplete="off" novalidate shake-that submitted="submitted" submit="createSchoolDistrict()">
  <div class="panel panel-default box-shadow">
    <div class="panel-heading">
      <h3 class="panel-title">
        Create a new School District
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group" ng-class="{'has-error': form.name.$invalid && submitted}">
        <label for="name" class="control-label">School District Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="School District Name"
          ng-model="school_district.name"
          ng-model-options="{updateOn: 'blur'}"
          required>
      </div>
      <div class="form-group" ng-class="{'has-error': form.website.$invalid && submitted}">
        <label for="website" class="control-label">Website</label>
        <input
          type="text"
          class="form-control"
          id="website"
          name="website"
          placeholder="http://www.myschooldistrict.com/"
          ng-model="school_district.website">
      </div>
      <div class="form-group" ng-class="{'has-error': form.location.$invalid && submitted}">
        <label for="location" class="control-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Some cool place"
          ng-model="school_district.location">
      </div>
      <div class="form-group" ng-class="{'has-error': form.notes.$invalid && submitted}">
        <label for="notes" class="control-label">Notes</label>
        <textarea class="form-control" id="notes" name="notes" placeholder="Any special notes you may have" ng-model="school_district.notes" />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Create</button>
    </div>
  </div>
</form>

<div class="alert alert-success message" ng-show="showMessage">Well done!</div>

<div class="alert alert-warning message" ng-show="showErrorMessage">{{$parent.login_error_message}}</div>
<div class="col-md-2"></div>
