body {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/* FOOTER */
.footer{
  _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
  height:60px;
  width: 100%;
  background-color: #444;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #555;


}

  #footerNav{
    margin: 0;
    padding-top: 15px;
    list-style-type: none;
    text-align: center;
  }

    #footerNav li{
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
      #footerNav li{
        color: #eee;
        font-size: 0.8em;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-weight: 300;
      }

      #footerNav li a{
        text-decoration: none;
        padding: .2em 1em;

      }
