@import 'partials/_datagrid';
@import 'partials/_user_header';
@import 'partials/_footer';
@import 'partials/_profile';

html {
  height: 100%;
}

body {
  padding-top: 60px;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.1;
  font-size: 18px;
  overflow-x: hidden;  /* trick from css-tricks comments */
  height: 100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

#wrap {
  min-height: 100%;
}

#main-view {
  overflow:auto;
	padding-bottom: 60px; /* must be the same as the footer */
}

/* General styling */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

label {
  font-weight: 500;
}

/* Navigation */

.navbar-btn, .navbar-btn:hover {
  background: transparent;
  border: none;
}

.nav>li>a.no-padding-left {
  padding-left: 0px;
}

.nav>li>a.no-padding-right {
  padding-right: 0px;
}

li.dropdown > ul.dropdown-menu {
  width: 100%;
  position: absolute;
}


/* Tabs */
.tabs {
  padding-top: 10px;
}

/* Classrooms search */
.search-info-section{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #f3f3f3;
  z-index: 1000;
  padding-left: 0;
  padding-right: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #ccc;

}

/* FILTERS */
.filter-section{
  border-bottom-color: #cdcdcd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.filter-item{
  height: 52px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dedede;
}
.filter-item:nth-of-type(even){
  background-color: #fdfdfd;
}
.filter-item:nth-of-type(odd){
  background-color: #fff;
}
.filter-label{
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 120px;
}
.filter-choice{
  float: left;
  margin-top: 8px;
  margin-left: 10px;

}
.filter-btn{
  padding-top: 6px;
  padding-bottom: 6px;
}
.filter-input{
  float:left;
  margin-right: 30px;
}
.filter-input > div{
  float:left;
}
.filter-input-label{
  margin-right: 10px;
  margin-top: 2px;
}

/* LIST */
.list-item{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dedede;
  height: 128px;
}
.list-thumb{
  float: left;
  height: 128px;
  width: 128px;
}
.list-thumb > img{
  height: 128px;
  width: 128px;
}
.list-details{
  margin-left: 16px;
  float: left;
}
.list-details-header > h5{
  margin-top: 6px;
  margin-bottom: 6px;
}
.list-details-subject{
  display: inline-block;
  width: 40%;
}
.list-item:nth-of-type(even){
  background-color: #f3f3f3;
}
.list-item:nth-of-type(odd){
  background-color: #ededed;
}

/* General */
.clear{
  clear: both;
}
