<div class="panel panel-default box-shadow">
  <div class="panel-heading">
    <h3 class="panel-title">{{session.school.name}}</h3>
    <a ui-sref="admin.schools.edit({school_district_id: {{session.school_district.id}},school_id: {{session.school.id}}})">
      Edit
    </a>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <label for="SchoolDistrict" class="control-label">School District:</label>
        <a ui-sref="admin.school_districts.detail({school_district_id: {{session.school_district.id}}})">
          {{session.school_district.name}}
        </a>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-12" style="clear:both;">
      <br />
      <label for="website" class="control-label">Website:</label>
        <a href="{{session.school.website}}">{{session.school.website}}</a>
        <br />
      <label for="location" class="control-label">Location:</label>
        {{session.school.location}}
        <br />
      <label for="notes" class="control-label">Notes:</label>
        {{session.school.notes}}
        <br />

      <a ui-sref="admin.classrooms.list({school_id: {{session.school.id}}, school_district_id: {{session.school_district.id}}})">
        <button class="btn btn-primary btn-block">View Classrooms</button>
      </a>
    </div>
  </div>
</div>
