  <div class="col-md-12">
    <h3>{{expert.user.fullname}}</h3>
  </div>

  <div class="col-md-3">
    <div class="profile-thumb">
      <img class="img-rounded profile-thumb-img center-block" src="../images/Michael_Jordan.jpg">
    </div>
    <div class="profile-contact">
      <button class="btn btn-hg btn-primary profile-contact-btn center-block">
        Contact Michael
      </button>
    </div>
  </div>

  <div class="info-container col-md-9">
    <div class="col-md-8">
      <p class="profile-notes">

        <span editable-textarea="session.expert.notes" e-form="expertNotesForm" onaftersave="saveExpert()">
          {{ session.expert.notes || 'empty' }}
        </span>
        <a href="" ng-if="session.user.id === session.expert.user_id" ng-click="expertNotesForm.$show()" ng-hide="expertNotesForm.$visible">Edit</a>
      </p>
      <p>
        <label for="company" class="control-label">Company:</label>
        <span
          e-typeahead="company as company.name for company in searchCompanies($viewValue)"
          editable-text="session.expert.company"
          e-form="expertCompanyForm"
          buttons="no"
          onaftersave="addCompanyToExpert()">
          {{session.expert.employment_links[0].company.name }}
        </span>
        <a href="" ng-if="session.user.id === session.expert.user_id" ng-click="expertCompanyForm.$show()" ng-hide="expertCompanyForm.$visible">Edit</a>
      </p>
      <p>
        <label for="company" class="control-label">Website:</label>
        {{session.expert.website}}
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <label for="subjects" class="control-label">Subjects:</label>
        <div ng-repeat="knowledge_link in session.expert.knowledge_links">
          {{knowledge_link.subject.name}}
          <a ng-if="session.user.id === session.expert.user_id" ng-click="removeSubjectFromExpert({{knowledge_link}})"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <input
          id="subject-search-box"
          ng-if="session.user.id === session.expert.user_id"
          type="text"
          class="form-control"
          placeholder="Add subject"
          ng-model="subject"
          typeahead="subject as subject.name for subject in subject_list | filter:{name:$viewValue}"
          typeahead-on-select="addSubjectToExpert($item, $model, $label)" />
      </p>
    </div>
  </div><!-- .info-container -->

  <div class="col-md-12 tabs">
    <tabset>
      <tab heading="Reviews">
        <div ng-include="'views/experts/reviews.html'"></div>
      </tab>
      <tab heading="Availability">
        <div ng-include="'views/experts/availability.html'"></div>
      </div>
      <!-- <tab heading="Educators">
        <div ng-include="'views/educators/list.html'"></div>
      </tab> -->
    </tabset>
  </div>
