    <div id="map-canvas" class="map-section col-md-5">
      <google-map center="map.center" zoom="map.zoom"></google-map>
    </div> <!-- /.map-section -->


    <div class="search-info-section col-md-7" ng-init="update_experts()">
      <div class="filter-section">
        <div class="filter-item">
          <div class="filter-label">
            Subject
          </div>
          <div class="filter-text filter-choice">
            <button type="button" class="btn btn-primary" ng-model="$parent.subject_list" data-multiple="1"
              data-placeholder="All subjects" ng-options="subject.id as subject.name for subject in subjects" bs-select>
              Action <span class="caret"></span>
            </button>
          </div>
      </div>

      <div class="filter-item">
        <div class="filter-label">
          Grade Level
        </div>
        <div class="filter-text filter-choice">
          <div class="filter-input">
            <button type="button" class="btn btn-primary" ng-model="$parent.grade_level_list" data-multiple="1"
              data-placeholder="All grade levels" ng-options="grade.id as grade.name for grade in grade_levels" bs-select>
              Action <span class="caret"></span>
            </button>
          </div>
        </div>
      </div>

          <div class="filter-item">
            <div class="filter-label">
              Location
            </div>
            <div class="filter-text filter-choice">
              <div class="filter-input">
                <div class="filter-input-label">
                  Near
                </div>
                <input type="text" class="form-control input-sm" placeholder="City or ZIP" style="width:180px;"/>
              </div>
              <div class="filter-input">
                <div class="filter-input-label">
                  Within
                </div>
                <button type="button" class="btn btn-primary" ng-model="$parent.distance"
                  data-placeholder="None selected" ng-options="distance.id as distance.name for distance in within_distances" bs-select>
                  Action <span class="caret"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="filter-item filter-sortby">
            <div class="filter-label">
              Sort by
            </div>
            <div class="filter-multiselect filter-choice">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle filter-btn" data-toggle="dropdown">None selected<span class="caret"></span></button>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Location</a>
                  </li>
                  <li>
                    <a href="#">Match %</a>
                  </li>
                  <li>
                    <a href="#">Soonest Available</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- /.filter-section -->

        <div class="list-section">
          <div class="list-item" ng-repeat="expert in experts">
            <div class="list-thumb">
              <img src="../images/classroom1.png" />
            </div>
            <div class="list-details">
              <div class="list-details-header">
                <h5><a ui-sref="profiles.experts.detail({expert_id: {{expert.id}}})">
                  {{expert.user.fullname}}
                </a></h5>
              </div>
              <div class="list-details-info">
                <small>
                  <span class="list-details-subject">Subjects:
                    <span ng-repeat="knowledge_link in expert.knowledge_links">{{knowledge_link.subject.name}}</span>
                  </span>
                  <br />
                  <span class="list-details-availability">Availability: ...</span>
                </small>
              </div>
            </div>
          </div>

        </div> <!-- /.list-section -->

      </div> <!-- /.search-info-section -->
