<div class="col-md-12">
  <h3>{{session.school_district.name}}</h3>
</div>

<div class="col-md-3">
  <div class="profile-thumb">
    <img class="img-rounded profile-thumb-img" src="../images/verona_district_logo.png">
  </div>
  <div class="profile-contact">
    <button class="btn btn-hg btn-primary profile-contact-btn">
      Contact Judy
    </button>
  </div>
</div>

<div class="info-container col-md-9">
  <div class="col-md-6 col-md-offset-right-6">
    <p>
      <label for="website" class="control-label">Website:</label>
        <a href="{{session.school_district.website}}">{{session.school_district.website}}</a>
        <br />
    </p>
    <p>
      <label for="location" class="control-label">Location:</label>
        {{session.school_district.location}}
        <br />
    </p>
    <p>
      <label for="notes" class="control-label">Notes:</label>
        {{session.school_district.notes}}
        <br />
      </p>
  </div>
</div><!-- .info-container -->

<div class="col-md-12 tabs">
  <tabset>
    <tab heading="Schools">
      <div ng-include="'views/schools/list.html'"></div>
    </tab>
    <!-- <tab heading="Educators">
      <div ng-include="'views/educators/list.html'"></div>
    </tab> -->
  </tabset>
</div>
