    <!-- Header Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top mm-header-bar" role="navigation" style="border-radius:0px;">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="../index.html" style="font-size:24px;">Education Matchmaker</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right mm-header-right">
          <li>
            <span class="fui-mail"></span>
          </li>
          <li><div>Hello, <a href="../profile/experts.html">James</a></div></li>
        </ul><!-- /.navbar-right -->
      </div><!-- /.navbar-collapse -->
    </nav> <!-- /Header Nav Bar -->

    <div id="map-canvas" class="map-section">
      <google-map center="map.center" zoom="map.zoom"></google-map>
    </div> <!-- /.map-section -->


    <div class="search-info-section">
      <div class="filter-section">
        <div class="filter-item">
          <div class="filter-label">
            Subject
          </div>
          <div class="filter-text filter-choice">
            <button type="button" class="btn btn-primary" ng-model="subject_list" data-multiple="1"
              data-placeholder="All subjects" ng-options="subject.id as subject.name for subject in subjects" bs-select>
              Action <span class="caret"></span>
            </button>
          </div>
      </div>

      <div class="filter-item">
        <div class="filter-label">
          Grade Level
        </div>
        <div class="filter-text filter-choice">
          <div class="filter-input">
            <button type="button" class="btn btn-primary" ng-model="grade_level_list" data-multiple="1"
              data-placeholder="All grade levels" ng-options="grade.id as grade.name for grade in grade_levels" bs-select>
              Action <span class="caret"></span>
            </button>
          </div>
        </div>
      </div>

          <div class="filter-item">
            <div class="filter-label">
              Location
            </div>
            <div class="filter-text filter-choice">
              <div class="filter-input">
                <div class="filter-input-label">
                  Near
                </div>
                <input type="text" class="form-control input-sm" placeholder="City or ZIP" style="width:180px;"/>
              </div>
              <div class="filter-input">
                <div class="filter-input-label">
                  Within
                </div>
                <button type="button" class="btn btn-primary" ng-model="distance"
                  data-placeholder="None selected" ng-options="distance.id as distance.name for distance in within_distances" bs-select>
                  Action <span class="caret"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="filter-item filter-sortby">
            <div class="filter-label">
              Sort by
            </div>
            <div class="filter-multiselect filter-choice">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle filter-btn" data-toggle="dropdown">None selected<span class="caret"></span></button>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Location</a>
                  </li>
                  <li>
                    <a href="#">Match %</a>
                  </li>
                  <li>
                    <a href="#">Soonest Available</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- /.filter-section -->

        <div class="list-section">
          <div class="list-item" ng-repeat="classroom in classrooms">
            <div class="list-thumb">
              <img src="../images/classroom1.png" />
            </div>
            <div class="list-details">
              <div class="list-details-header">
                <h5><a href="classrooms/{{classroom.id}}">{{classroom.name}}</a></h5>
              </div>
              <div class="list-details-info">
                <small>
                  <span class="list-details-subject">Subjects:
                    <span ng-repeat="subject in classroom.subjects">{{subject.name}}</span>
                  </span>
                  <span class="list-details-topics">Topics: ...</span><br />
                  <span class="list-details-availability">Availability: ...</span>
                </small>
              </div>
            </div>
          </div>


        <!-- <div class="list-section">
          <div class="list-item">
            <div class="list-thumb">
              <img src="../images/classroom1.png" />
            </div>
            <div class="list-details">
              <div class="list-details-header">
                <h5><a href="../profile/classrooms.html">Judy Smith's 11th Grade Chemistry Class</a></h5>
              </div>
              <div class="list-details-info">
                <small>
                  <span class="list-details-subject">Subject: Chemistry</span>
                  <span class="list-details-topics">Topics: Electronics, Biochemistry, Chemistry </span><br>
                  <span class="list-details-availability">Availability: Wednesdays 9:00am-2:00pm through Jan 22, 2014</span>
                </small>
              </div>
            </div>
          </div>

          <div class="list-item">
            <div class="list-thumb">
              <img src="../images/classroom2.png" />
            </div>
            <div class="list-details">
              <div class="list-details-header">
                <h5><a href="#">John Simpson's 8th Grade Math Class</a></h5>
              </div>
              <div class="list-details-info">
                <small>
                  <span class="list-details-subject">Subject: Mathematics</span>
                  <span class="list-details-topics">Topics: Mathematics, Algebra, Trigonometry </span><br>
                  <span class="list-details-availability">Availability: Tuesdays 8:00am-1:00pm</span>
                </small>
              </div>
            </div>
          </div>

          <div class="list-item">
            <div class="list-thumb">
              <img src="../images/classroom3.png" />
            </div>
            <div class="list-details">
              <div class="list-details-header">
                <h5>Jill Jones' 10th Grade Physics Class</h5>
              </div>
              <div class="list-details-info">
                <small>
                  <span class="list-details-subject">Subject: Physics</span>
                  <span class="list-details-topics">Topics: Physics, Electronics, Acoustics</span><br>
                  <span class="list-details-availability">Availability: Monday-Wednesday 8:00am-12:00pm</span>
                </small>
              </div>
            </div>
          </div>

          <div class="list-item">
            <div class="list-thumb">
              <img src="../images/classroom4.png" />
            </div>
            <div class="list-details">
              <div class="list-details-header">
                <h5>Ruth Perez's High School Biology Class</h5>
              </div>
              <div class="list-details-info">
                <small>
                  <span class="list-details-subject">Subject: Biology</span>
                  <span class="list-details-topics">Topics: Biology, Biochemistry</span><br>
                  <span class="list-details-availability">Availability: Fridays 8:00am-3:00pm</span>
                </small>
              </div>
            </div>
          </div> -->


        </div> <!-- /.list-section -->

      </div> <!-- /.search-info-section -->
