<div class="col-md-12">
  <h3>{{session.classroom.name}}</h3>
</div>

<div class="col-md-3">
  <div class="profile-thumb">
    <img class="img-rounded profile-thumb-img" src="../images/classroom1.png">
  </div>
  <div class="profile-contact">
    <button class="btn btn-hg btn-primary profile-contact-btn">
      Contact Judy
    </button>
  </div>
</div>

<div class="info-container col-md-9">
  <div class="col-md-6">
    <p>
      <label for="SchoolDistrict" class="control-label">School District:</label>
        <a ui-sref="profiles.school_districts.detail({school_district_id: {{session.school_district.id}}})">{{session.school_district.name}}</a>
      <br />
    </p>
    <p>
      <label for="website" class="control-label">Website:</label>
        <a href="{{session.classroom.website}}">{{session.classroom.website}}</a>
        <br />
    </p>
    <p>
      <label for="location" class="control-label">Location:</label>
        {{session.classroom.location}}
        <br />
    </p>
    <p>
      <label for="notes" class="control-label">Notes:</label>
        {{session.classroom.notes}}
        <br />
      </p>
  </div>
  <div class="col-md-6">
    <p>
      <label for="School" class="control-label">School:</label>
        <a ui-sref="profiles.schools.detail({school_district_id: {{session.school_district.id}}, school_id: {{session.school.id}}})">{{session.school.name}}</a>
      <br />
    </p>
    <p>
      <label for="subjects" class="control-label">Subjects:</label>
        <div ng-repeat="subject in session.classroom.subjects">
          {{subject.name}}
        </div>
    </p>
  </div>
</div><!-- .info-container -->
