<div class="datagrid" ng-init=getClassrooms()>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Teacher</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="classroom in classrooms">
        <td>
          <a ui-sref="profiles.classrooms.detail({school_id: {{session.school.id}},school_district_id: {{session.school_district.id}},classroom_id: {{classroom.id}}})">
            {{classroom.name}}
          </a>
        </td>
        <td>
          {{classroom.teacher}}
        </td>
        <td>
          <a href="{{classroom.website}}">{{classroom.website}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
