<form ng-init="addClassroomToScope()" name="form" id="editClassroomForm" autocomplete="off" novalidate shake-that submitted="submitted" submit="updateClassroom()">
  <div class="panel panel-default box-shadow">
    <div class="panel-heading">
      <h3 class="panel-title">
        Edit Classroom
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group" ng-class="{'has-error': form.name.$invalid && submitted}">
        <label for="name" class="control-label">Classroom Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Classroom Name"
          ng-model="classroom.name"
          ng-model-options="{updateOn: 'blur'}"
          required>
      </div>
      <div class="form-group" ng-class="{'has-error': form.website.$invalid && submitted}">
        <label for="website" class="control-label">Website</label>
        <input
          type="text"
          class="form-control"
          id="website"
          name="website"
          placeholder="http://www.myschooldistrict.com/school/classroom"
          ng-model="classroom.website">
      </div>
      <div class="form-group" ng-class="{'has-error': form.location.$invalid && submitted}">
        <label for="location" class="control-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Some cool place"
          ng-model="classroom.location">
      </div>
      <div class="form-group" ng-class="{'has-error': form.location.$invalid && submitted}">
        <label for="subjects" class="control-label">Subjects</label>
          <input
            id="subject-search-box"
            type="text"
            class="form-control"
            placeholder="Add subject"
            ng-model="subject"
            typeahead="subject as subject.name for subject in subject_list | filter:{name:$viewValue}"
            typeahead-on-select="addSubjectToClassroom($item, $model, $label)" />
        <ul>
          <li ng-repeat="subject in classroom.subjects track by subject.id">
            {{subject.name}} <a ng-click="removeSubjectFromClassroom({{subject}})"><span class="glyphicon glyphicon-remove"></span></a>
          </li>
        </ul>
      </dvi>
      <div class="form-group" ng-class="{'has-error': form.notes.$invalid && submitted}">
        <label for="notes" class="control-label">Notes</label>
        <textarea class="form-control" id="notes" name="notes" placeholder="Any special notes you may have" ng-model="classroom.notes" />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Update Classroom</button>
    </div>
  </div>
</form>

<div class="alert alert-success message" ng-show="showMessage">Well done!</div>

<div class="alert alert-warning message" ng-show="showErrorMessage">{{$parent.login_error_message}}</div>
