<div class="col-md-2"></div>
<div class="col-md-8" ng-init=getClassrooms()>
  <div class="panel panel-default box-shadow">
    <div class="panel-heading">
      <h3 class="panel-title">Classrooms at
        <a ui-sref="admin.school.detail({school_district_id: {{session.school_district.id}},school_id: {{session.school.id}}})">
          {{session.school.name}}
        </a>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-repeat="classroom in classrooms">
        <a ui-sref="admin.classrooms.detail({classroom_id: {{classroom.id}}, school_id: {{session.school.id}}, school_district_id: {{session.school_district.id}}})">
          {{classroom.name}}
        </a>
      </div>
      <a ui-sref="admin.classrooms.create({school_district_id: {{session.school_district.id}},school_id:{{session.school.id}}})">
        <button class="btn btn-primary">Create new classroom</button>
      </a>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
