<!-- Main page container -->
<div class="container">

    <div class="login-register-toolbar btn-toolbar pull-right">
      <div class="login-register-group btn-group">
        <a ng-href="#/login"><button class="btn btn-primary"><span class="login-register-text">Log In</span></button></a>
        <a ng-href="#/register"><button class="btn btn-primary"><span class="login-register-text">Sign Up</span></button></a>
      </div>
    </div>
    <div class="clear"></div>

  <div class="row">
    <div class="col-sm-12 title-header">
      <h1>Education Matchmaker</h1>
    </div>
  </div>
  <div class="row example-steps">
    <div class="col-sm-6 info-box">
      <h3 class="schools">Schools and Educators</h3>
      <h4 class="900-edit" data-900-id="nod65r">
        Bring scientists and engineers into your classroom through direct presentations within the school and through distance learning links.
      </h4>
    </div>
    <div class="col-sm-6 info-box">
      <h3 class="industry">Industry Experts</h3>
      <h4 class="900-edit" data-900-id="3ugm7i">
        List your expertise and resources to categorize the subject area of expertise for connecting with the needs of classrooms.
      </h4>
    </div>
  </div>
</div> <!-- /container -->
