<div class="datagrid" ng-init=getSchools()>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Principle</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="school in schools">
        <td>
          <a ui-sref="profiles.schools.detail({school_id: {{school.id}},school_district_id: {{session.school_district.id}}})">
            {{school.name}}
          </a>
        </td>
        <td>
          {{school.principle}}
        </td>
        <td>
          <a href="{{school.website}}">{{school.website}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
