<!-- Header Nav Bar -->
<nav class="navbar navbar-default navbar-fixed-top mm-header-bar" role="navigation" style="border-radius:0px;" ng-controller="UsersCtrl">

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav navbar-left">
      <li><a ui-sref="index" style="font-size:24px;">Education Matchmaker</a></li>
      <li>
        <a class="drop" ui-sref="admin.school_districts.list">School Districts</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right mm-header-right">
      <li>
        <span class="fui-mail"></span>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{session.user.fullname}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Account Settings</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul><!-- /.navbar-right -->
  </div><!-- /.navbar-collapse -->
</nav> <!-- /Header Nav Bar -->
